* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    body {
        background-color: #1f1f1f !important;
        height: 100vh;
    }

    .navigation {
        /* height: 100px; */
        /* background-color: #252626; */
        /* display: flex; */
        /* align-items: center; */
        /* padding: 0 2vw; */

        height: 300px;
        justify-content: center;
        background-color: #252626;
        display: flex;
        padding-top: 35px;
    }

    .container{
        /* border: red solid; */
        /* transform: translateX(250px); */
    }

    .area-navigation {
        width: 92vw;
        justify-content: space-between;
        display: flex;
        /* border: transparent; */
        align-items: center;
    }

    .hamburger {
        /* align-items: center; */
        /* border: red solid; */
        /* width: 100px; */
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        cursor: pointer;
        /* transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0); */
    }

    .hamburger span {
        background-color: #B5B5B5;
        width: 30px;
        height: 3px;
        border-radius: 10px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);


    }



    .hamburger.right span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
        transform-origin: center;
    }

    .hamburger.right span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.right span:nth-child(3) {
        transform: rotate(-45deg) translate(10px, -10px);
        transform-origin: center;
    }

    .hamburger{
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        
    }
    
    .hamburger.right{
        transform: translateX(245px); /* Geser sejauh lebar sidebar */
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        
    }
    
    main{
        margin-left: 0;
        padding: 0px 50px;
        /* border:  red solid; */
        /* transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0); */
        transition: margin-left 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

        /* transition: margin-left 0.5s ease, transform 0.5s ease; */
    }

    main.shrink {
        margin-left: 250px;
    }



    .sidebar {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100%;
        background-color: #2D2D2D;
        color: white;
        padding-top: 10px;
        z-index: 1000;
        transition: left 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    .sidebar .logo-image{
        /* border: red solid; */
        display: flex;
        /* align-items: center; */
        margin-top: 25px;
        margin-bottom: 80px;
        justify-content: center;
    }
    .sidebar .logo-image img{
        width: 100px;
    }

    .sidebar.active {
        left: 0;
    }

    .sidebar ul {
        /* border: red solid; */
        list-style: none;
        margin-top: 20px;
        padding: 0;
    }

    .sidebar ul li {
        margin: 50px 0;
        margin-left: 20px;
        margin-right: 0px;
        /* border: red solid; */
    }

    .sidebar ul li a {
        /* border: red solid; */
        text-decoration: none;
        color:#919191;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 20px;
        margin-left: 20px;
    }
    .sidebar ul li a i{
        font-size: 22px;
        /* color: red; */
    }

    .header {
        height: 100px;
        display: flex;
        justify-content: center;
    }

    .i-admin {
        display: flex;
        align-items: center;
        gap: 10px;
        text-align: right;
        color: #B5B5B5;
    }

    .i-admin i {
        font-size: 50px;
        color: #B5B5B5;
    }

        .card-admin{
        /* border: red solid; */
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        margin: 0px;
        padding: 0px;

    }

    .card-admin span{
        /* border: red solid; */

        margin: 0;
        padding: 0;

    }

    .card-admin span:first-child{
        font-size: large;
        font-weight: bold;
        
    }
    .name-page-dashboard {
        justify-content: center;
        margin-top: -150px;
        margin-bottom: 50px;
        display: flex;
        box-sizing: border-box;
        /* flex-wrap: wrap; */
    }

    .name-page-dashboard h2 {
        box-sizing: border-box;

        color: #B5B5B5;
        width: 92vw;
        justify-content: center;
    }


    .fast-information {
        display: flex;
        flex-direction: column;
        gap: 30px;
        /* border: red solid; */

        
    }

    .wrap-card{
        /* border:  red solid; */

    }
    .four-card{
        display: flex;
        gap: 30px;
        margin: 0px 0;
        flex-wrap: wrap;
      /* border:  red solid; */

    }

    .wrap-card.for-card{
    }

    .card{
        /* border:  red solid; */

        flex: 1 1 calc(20% - 20px);
        background: #2D2D2D !important;
        padding: 20px 30px;
        border-radius: 10px;
        /* box-shadow: 0 2px 6px rgba(0,0,0,0.1); */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .information-card{
        /* border:  rgb(0, 255, 38) solid; */
        display: flex;
        justify-content: space-between;
        width: 100%;
        

    }

    

    .information-value{
        /* border:  rgb(68, 0, 255) solid; */

        display: flex;
        gap: 25px;
        flex-direction: column;
        
    }
    .information-value span{
        /* border:  rgb(68, 0, 255) solid; */

        display: block;
        
    }

    .information-value span:nth-child(2){
        font-weight: bold;
        font-size: 20px;
        color: #919191;
    }

    .information-value span:nth-child(1),.information-value span:nth-child(3){
        font-weight:normal;
        font-size: 16px;
        color: #919191;
    }
    .information-icon i{
        display: flex;
        padding: .4em 1.2em;
        border-radius: 10px;
      /* border:  red solid; */
      /* padding: 20; */
        background-color: #373737;
        /* width: 200px; */
        font-size: 33px;
        color: #FA6801;
        /* border-radius: 10px; */
        /* margin-inline: 20px; */

    }

    .table-chart-information{
        display: flex;
        gap: 30px;
        /* height: 20%; */
        /* height: 330px; */


    }

    .list-popular{
        width: 50%;
        /* height: 60%; */
        color: #B5B5B5;
        display: flex;
        background-color: #2D2D2D ;
        border-radius: 10px;
        /* overflow-y: auto; */
        overflow: hidden;
        /* border: rgb(0, 255, 81) solid; */

    }

    .list-popular table{
        
        /* height: 250px; */
        /* width: 100%; */
        /* height: 100%; */
        /* border: rgb(255, 0, 0) solid; */
        border-collapse: collapse;
        /* display: flex; */
        table-layout: fixed;
        /* background-color: #2D2D2D !important; */
    }


    .list-popular thead{
        background-color: #373737;
    }

    .list-popular th,
    .list-popular td{
      padding: 15px 10px;

        /* padding: 15px; */
        /* padding-inline: 50px; */
        /* padding-block: 10px; */
        text-align: left;
        /* line-height: 1.2; */
    }
    .list-popular th:nth-child(1),
    .list-popular td:nth-child(1){
        width: 20px;
        text-align: center;
        /* border: red solid; */
        

    }
    .list-popular th:nth-child(2),
    .list-popular td:nth-child(2){
        width: 100px;
        /* text-align: center; */
        /* border: red solid; */

    }
    .list-popular th:nth-child(3),
    .list-popular td:nth-child(3){
        width: 40px;
        text-align: center;
        /* border: red solid; */
        

    }

    .list-popular th{
        position: sticky;
        top: 0;
        background-color: #373737;
    }

    .list-popular td{
        /* border: red solid ; */
        /* margin-inline:40px ; */
        background-color: #2D2D2D !important;

    }

    .list-popular tbody{
        display: block;
        height: 250px;
        overflow-y: scroll;
        scrollbar-width: none;
        background-color: #2D2D2D;
        /* border: rgb(255, 0, 217) solid; */
    }

    .list-popular thead,
    .list-popular tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    .title{
        /* margin-left: -50px; */
    }

    


    .chart-viewers{
        width: 50%;
        /* height: 300px; */
        /* height: 40vh; */

        /* height: 200px; */
        /* border: red solid; */
        border-radius: 10px;
        background-color: #2D2D2D;
        padding: 15px 15px 0px 15px;
        justify-content: center;
        /* align-items: center; */
        display: flex;
        flex-direction: column;
        /* text-align: start; */
        /* gap: 10px; */
    }

    .chart-viewers h3{
        /* padding-top: 30px; */
        color: #ABABAB;
        /* font-weight: bolder; */
        /* font-size: 16px; */
        /* border: red solid; */

    }

    .chart-daily{
        /* display: flex; */
        /* border-radius: 10px; */
        /* font-size: 16px; */

        /* height: 80%; */
        /* height: 50vh; */
        /* font-size: 5px; */
        /* border: red solid; */
    }

    .apexcharts-yaxis-texts-g text span{
        font-size: large !important;
        /* border: red solid !important; */
        color: red !important;
    }
    /* chart apex js open */
    /* custom tooltip */
    .apexcharts-tooltip {
        background: #ff000080 !important;
        color: #ABABAB !important;
        border-radius: 8px !important;
        /* border: 1px solid #006aff !important; */
        font-size: 13px !important;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5) !important;
    }

    .apexcharts-tooltip-title {
        background: #373737 !important;
        color: #c8c8c8 !important;
        /* font-weight: bold !important; */
        font-size: 12px !important;
        text-align: center;
    }

    /* Tooltip X-axis bawah (bulan + tanggal) */
    .apexcharts-xaxis-tooltip,
    .apexcharts-xaxis-tooltip-bottom,
    .apexcharts-theme-false {
        background: #2D2D2D !important;
        border: 1px solid #6b7280 !important;
        border-radius: 6px !important;
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.150) !important;
        /* color: #ff0000; */
        /* background-color: red; */
    }

    .apexcharts-xaxis-tooltip-text,
    .apexcharts-theme-false {
        color: #999999 !important;
    }

    .apexcharts-text tspan{
        font-size: 11px;
        font-weight: 100;
    }

    .apexcharts-xaxis-texts-g{
    }
    /* custom tooltip close */
    /* chart apex js close */

    .chart-total-viewers{
        
        /* padding: 15px; */
        padding-block: 20px;
        border-radius: 10px;
        /* width: 92vw; */
        height: 650px;
        background-color: #2D2D2D;
        /* border: red solid; */
        margin-bottom: 50px;
        padding-inline: 40px;
    }

    .information-chart{
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
        height: 100%;
        /* border: red solid; */
        gap: 10px;

    }

    .head-chart{
        width: 100%;
        /* border: red solid; */

        display: flex;
        justify-content: space-between;

    }

    .head-chart h2{
        color: #ABABAB;
        /* font-weight: bold; */
        font-size: 28px;
    }

    .head-chart button{
        border: #424242 solid 2px;
        background-color: transparent;
        /* padding: 10px ; */
        padding-block: 10px;
        width: 100px;
        /* padding-inline: 0px; */
        border-radius: 10px;
        color: #ABABAB;
        cursor: pointer;
        font-size: 16px;
    }

    .chart-comparison{
        justify-content: center;
        align-items: center;
        width: 100%;
        /* border: red solid; */
        display: flex;
        gap: 300px;
        /* justify-content: space-around; */
    }
    .this-week,
    .previos-week{
        
        color: #ABABAB;
        /* border: red solid; */
    }
    .this-week span,
    .previos-week span{
        font-size: 25px;
    }
    .provit-value{
        margin-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .provit-value span{
        font-size: 35px;
        font-weight: bolder;
    }
    .cyan-circle{
        background-color: #6AD4EB;
        width: 20px;
        height: 20px;
        border-radius: 50px;
    }
    .orange-circle{
        background-color: #F38C3C;
        width: 20px;
        height: 20px;
        border-radius: 50px;
    }






    .chart-container{
        display: flex;
        /* border: red solid; */
        width: 100%;
        height: 100%;
        border-radius: 10px;

    }
    



    /* article open */
        .container-article{
            justify-content: center;
            align-items: center;
            display: flex;

        }

        .container-table{
            width: 92vw;
            height: 90vh;
            border: red solid;
            border-radius: 10px;
            background-color: #2D2D2D;

        }

        .button-action{
            display: flex;
            margin-top: 20px;
            margin-inline: 20px;
            justify-content: space-between;
            /* border: red solid; */
            
        }

        .button-action button{
            background-color: #FF7300;
            outline: none;
            color: white;
            /* padding: 10px; */
            padding-block:15px ;
            padding-inline:30px ;
            border: none;
            border-radius: 10px;
            font-size: 14px;
            cursor: pointer;
            display: flex;
            align-items: center;


        }
        .button-action button i{
            margin-right: 10px;
            font-size: 18px;
        }

        .table-article{
            /* border: red solid; */
            display: flex;
        }

        .table-article table {
            /* border: black solid; */
        }

    /* article close */


    /* analytic open */
    .fast-information-analytic{
        /* justify-content: center; */
        /* align-items: center; */
        display: flex;
        gap: 30px;

        flex-direction: column;
        /* border: rgb(13, 0, 255) solid; */
    }

    .container-analytic{
        /* height: 10vh; */
        /* width: 92vw; */
        /* border: rgb(4, 0, 255) solid; */
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .container-card-chart{
        height: 700px;
        /* width: 92vw; */
        /* border: rgb(225, 0, 255) solid; */
        display: flex;
        flex-direction: row !important;
        gap: 30px;
    }
    .card-information{
        /* border: rgb(0, 255, 115) solid; */
        /* height: 100vh; */
        width: 30%;
        /* justify-content: space-between; */
        /* align-items: center; */
        display: flex;
        flex-direction: column;
        /* gap: 30px; */
    }

    .card-information .card{
        width:100%;
        
        /* border: red solid; */
    }

    .four-card-analytic{
        display: flex;
        flex-direction: column;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: space-between;

        /* border: rgb(116, 116, 116) solid; */
        height: 100%;
        /* width: 92vw; */

    }
    .four-card-analytic .card{
        /* border:  red solid; */

        flex: 1 1 calc(20% - 20px);
        background: #2D2D2D !important;
        padding:10px 30px;
        border-radius: 10px;
        /* box-shadow: 0 2px 6px rgba(0,0,0,0.1); */
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .duo-information{
        /* height: 10vh; */
        width: 70%;

        /* height: 100%; */
        /* border: cyan solid; */
        /* border: rgb(0, 255, 115) solid; */

        flex-direction: column;
        justify-content: space-between;

        display: flex;
        gap: 30px;


    }


    .chart-viewers-analytic,
    .chart-viewers-analytic-pie{
        /* height: 334px; */
        /* border: red solid; */
    }

    .chart-viewers-analytic-pie p,
    .chart-viewers-analytic p{
        font-size: 20px;
        font-weight: 500;
        color: #ABABAB;
        /* border: red solid; */
    }
    .chart-viewers-analytic-pie span{
        /* font-size: 14px; */
        /* font-weight: 500; */
        color: #ffffff;
        /* border: red solid; */
    }
    .chart-viewers-analytic{
        height: 335px;
        /* border: red solid; */
        border-radius: 10px;
        background-color: #2D2D2D;
        padding: 30px 15px 15px 15px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        /* gap: 10px; */
    }


    .chart-daily{
        /* height: 50vh; */
        /* border: red solid; */
        /* display: flex; */
        /* justify-content: space-between; */
    }

    .chart-viewers-analytic-pie{
        height: 335px;
        /* border: red solid; */
        border-radius: 10px;
        background-color: #2D2D2D;
        padding: 30px 15px 30px 15px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        /* gap: 10px; */
    }


    .chart-daily-pie{
        /* height: 50vh; */
        /* border: red solid; */
        /* padding-bottom: 20px; */
        /* margin-bottom: 10px; */
        display: flex;
        /* justify-content: center !important; */
        /* align-items: center !important; */

    }

    /* apex chart customize open */
    .apexcharts-legend {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: start !important;
        align-items: start !important;
        /* width: 60%; */
        /* height: 100px; */
        /* border: rgb(0, 255, 149) solid; */
        padding-right: 35% !important;
        padding-left: 2% !important;
        /* padding-block:10px !important; */
        margin: 0 auto; /* agar legend ke tengah */
    }

    .apexcharts-legend-series {
        /* border: red solid; */

        height: 15%;
        /* margin-bottom: 8px; */
    }

    .apexcharts-legend-text {
        /* border: yellow solid; */
        color: #b5b5b5 !important;
        font-size: 12px !important;
        font-weight: 200 !important;
        padding-left: 20px !important;
        font-family: Helvetica, Arial, sans-serif;
    }

    .apexcharts-slices{
        border: none;
        stroke: none !important;
    }

    .apexcharts-series .apexcharts-pie-series path{
        stroke: none !important;
        border: none !important;
        color: red !important;
    }

    /* apex chart customize close */



    
    .container-popular{

        /* width: 92vw; */
        /* border: rgb(251, 255, 0) solid; */
        display: flex;
        flex-direction: column;
        /* height: 10vh; */
        border-radius: 10px;
        background-color: #2D2D2D;
        /* border: red solid; */

    }
    .container-head-article{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 30px;
        /* border: red solid; */

    }
    .container-head-article h3{
        color: #ABABAB;
    }
    .category-date{
        /* border: red solid; */
        display: flex;
        gap: 50px;
        outline: none;
        
    }
    .category-date select{
        background-color: #2D2D2D;
        border: #424242 solid 2px;
        border-radius: 10px;
        padding: 10px;
        color: #ABABAB;
        outline: none;
    }
    .input-date{
        display: flex;
        align-items: center;
        background-color: #2D2D2D;
        border: #424242 solid 2px;
        border-radius: 10px;
        padding: 10px;
        color: #ABABAB;
        outline: none;
    }
    .input-date input{
        color: #ABABAB;
        border: none;
        background-color: transparent;
        outline: none;
    }
    .input-date i{
        color: #ABABAB;
        border: none;
        background-color: transparent;
        outline: none;
        font-size: 25px;
    }
    .table-popular-article{
        padding:  0px 30px 30px 30px;
        color: #ABABAB;
        width: 100%;
        /* border: red solid; */
        

    }
    .table-popular-article table{
        /* width: 0px !important; */
        width: 100%;
        /* border: red solid; */
        border-collapse: collapse;


    }
    .table-popular-article table th{
        background-color: #373737;
        border: none;
        padding-block:20px ;
    }
    .table-popular-article table th:first-child{
        background-color: #373737;
        border: none;
        padding-block:20px ;
        border-top-left-radius: 10px;
    }
    .table-popular-article table th:last-child{
        border-top-right-radius: 10px;
    }
    .table-popular-article table td{
        padding-block: 20px;
        padding-left: 10px;
    }
    .table-popular-article table td:nth-child(1),
    .table-popular-article table td:nth-child(3){
        text-align: center;
    }
    .table-popular-article table th:nth-child(1),
    .table-popular-article table th:nth-child(3){
        text-align: center;
    }
    .table-popular-article table th{
        padding-left: 10px;
        text-align: start;
        /* border: red solid; */

        /* width: 0px !important; */
        /* overflow-y:hidden !important; */
        /* overflow:hidden !important; */
    }

    .table-popular-article tbody tr{
        background-color: #2D2D2D;
        /* border: red solid; */
    }
    .table-popular-article table tbody tr:hover{
        background-color: #373737 !important;
        /* border: red solid; */
    }
    



    .chart-total-viewers-analytic{
        /* padding: 15px; */
        padding-block: 20px;
        border-radius: 10px;
        /* width: 92vw; */
        height: 650px;
        background-color: #2D2D2D;
        /* border: red solid; */
        margin-bottom: 50px;
        padding-inline: 40px;
    }




    /* analytic close */


